<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#4f46e5">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
    <link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#4f46e5">
    <meta name="msapplication-TileColor" content="#da532c">
    <!-- For production -->
    <link href="./min/global.min.css" rel="stylesheet">
    <script src="./min/adminCollections.min.js" type="module"></script>
    <!-- ! For Development Only ! -->
    <!-- Tailwind CSS -->
    <!-- <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: {
                50: 'var(--color-primary-50)',
                100: 'var(--color-primary-100)',
                200: 'var(--color-primary-200)',
                300: 'var(--color-primary-300)',
                400: 'var(--color-primary-400)',
                500: 'var(--color-primary-500)',
                600: 'var(--color-primary-600)',
                700: 'var(--color-primary-700)',
                800: 'var(--color-primary-800)',
                900: 'var(--color-primary-900)',
                950: 'var(--color-primary-950)',
              },
            }
          }
        }
      }
    </script>
    <style type="text/tailwindcss">
        @layer base {
            :root {
                --color-primary-50: #eef2ff;
                --color-primary-100: #e0e7ff;
                --color-primary-200: #c7d2fe;
                --color-primary-300: #a5b4fc;
                --color-primary-400: #818cf8;
                --color-primary-500: #6366f1;
                --color-primary-600: #4f46e5;
                --color-primary-700: #4338ca;
                --color-primary-800: #3730a3;
                --color-primary-900: #312e81;
                --color-primary-950: #1e1b4b;
            }
        }
    </style> -->
    <!-- Scripts -->
    <!-- <script src="./js/adminCollections.js" type="module"></script> -->
    <!-- ! For Development Only ! -->
    <title>Wrapster | Admin</title>
</head>
<body class="bg-gray-100">
<header class="sticky top-0 z-10 h-16 w-full bg-gray-100  backdrop-blur-xl bg-opacity-80 shadow-md">
    <nav class="mx-auto flex h-full w-full max-w-[1200px] items-center gap-4 px-6">
        <a
                class="flex flex-shrink-0 items-center"
                href="./index.html"
                aria-label="Home"
        >
            <svg
                    class="fill-current text-primary-500"
                    width="50px"
                    height="50px"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 1512 982"
            >
                <path
                        fill="CurrentColor"
                        fill-rule="evenodd"
                        d="M794.465 349.928c.353-3.26.535-6.573.535-9.928 0-50.258-40.742-91-91-91s-91 40.742-91 91c0 .79.01 1.577.03 2.361-13.626 105.92-96.445 190.173-201.668 205.972-2.591-.22-5.214-.333-7.862-.333-50.534 0-91.5 40.966-91.5 91.5s40.966 91.5 91.5 91.5c3.218 0 6.397-.166 9.53-.49 205.778-10.097 370.887-174.922 381.435-380.582ZM495 341c0 49.706-40.294 90-90 90s-90-40.294-90-90 40.294-90 90-90 90 40.294 90 90Zm704 1c0 3.355-.18 6.668-.54 9.929-10.54 205.659-175.65 370.483-381.43 380.581-3.132.324-6.312.49-9.53.49-50.534 0-91.5-40.966-91.5-91.5s40.966-91.5 91.5-91.5c2.648 0 5.271.113 7.862.333 105.223-15.799 188.038-100.052 201.668-205.972-.02-.784-.03-1.572-.03-2.361 0-50.258 40.74-91 91-91s91 40.742 91 91Z"
                        clip-rule="evenodd"
                />
            </svg>
        </a>
        <ul class="flex items-center space-x-4">
            <li><a href="./index.html" aria-label="Home">Home</a></li>
            <li><a href="./products.html" aria-label="Products">Products</a></li>
        </ul>
        <div class="ml-auto flex items-center space-x-6">
            <a class="flex h-5 w-5 items-center justify-center" href="./sign-in.html" aria-label="Sign In">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="lucide lucide-user-round">
                    <circle cx="12" cy="8" r="5" />
                    <path d="M20 21a8 8 0 0 0-16 0" />
                </svg>
            </a>
            <a class="flex h-5 w-5 items-center justify-center" href="./cart.html" aria-label="Cart">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="lucide lucide-shopping-cart">
                    <circle cx="8" cy="21" r="1" />
                    <circle cx="19" cy="21" r="1" />
                    <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12" />
                </svg>
            </a>
        </div>
    </nav>
</header>
<div class="mx-auto w-full max-w-[1200px] p-4 py-2 sm:px-6 lg:px-8">
    <nav class="flex justify-between" aria-label="Tabs">
        <div class="flex space-x-8">
            <a href="./admin-products.html"
            class="border-transparent text-gray-500 hover:border-gray-200 hover:text-gray-700 flex whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">
                Products
                <span class="bg-gray-100 text-gray-900 ml-3 hidden rounded-full py-0.5 px-2.5 text-xs font-medium md:inline-block">23</span>
            </a>
            <a href="./admin-collections.html"
            class="border-indigo-500 text-indigo-600 flex whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium"
            aria-current="page">
                Collections
                <span class="bg-indigo-100 text-indigo-600 ml-3 hidden rounded-full py-0.5 px-2.5 text-xs font-medium md:inline-block">12</span>
            </a>
        </div>
        <div class="flex items-center">
            <button
                onclick="location.href='index.html'"
                type="button"
                class="relative inline-flex items-center rounded-md bg-primary-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
            >
                Log out
            </button>
        </div>
    </nav>
</div>
<main class="flex w-full flex-col bg-white">
    <!-- Products -->
    <section class="mx-auto w-full max-w-[1200px] overflow-hidden px-4 py-8 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center">
            <h1 class="text-xl sm:text-3xl font-bold tracking-tight text-gray-900">Collections</h1>
            <button
                    onclick="window.location.href = 'add-collection.html'"
                    type="button"
                    class="relative inline-flex items-center rounded-md bg-primary-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
            >
                Add new collection
            </button>
        </div>
        <div class="mt-12">
            <section aria-labelledby="cart-heading">
                <h2 id="cart-heading" class="sr-only">Products</h2>
                <ul class="divide-y divide-gray-200 border-b border-t border-gray-200"
                    id="all-collections">
                    <!-- Collections will be added here by JavaScript -->
                    <li class="h-96 w-full flex items-center justify-center col-span-full">
                        <svg class="animate-spin h-5 w-5 mr-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M21 12a9 9 0 1 1-6.219-8.56"/>
                        </svg>
                        <span>Loading</span>
                    </li>
                </ul>
            </section>
        </div>
    </section>
</main>
<footer class="h-16 w-full bg-gray-100">
    <div class="mx-auto flex h-full w-full max-w-[1200px] items-center justify-between px-6">
        <p class="text-sm">Made with ❤️ by <a href="https://github.com/TechOctopus">Heorhi Davydau</a> and <a href="https://github.com/VladGusiev">Vladyslav Gusiev</a></p>
        <a href="https://github.com/TechOctopus/wrapster">
            <span class="sr-only">GitHub</span>
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
            >
                <path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"/>
                <path d="M9 18c-4.51 2-5-2-7-2"/>
            </svg>
        </a>
    </div>
</footer>
</body>
<!-- For Tailwind CSS
<div class="flex-shrink-0">
    <img src="${product.image}"
        alt="${product.name}"
        class="h-24 w-24 rounded-lg object-contain object-center sm:h-32 sm:w-32">
</div>

<div class="relative ml-4 flex flex-1 flex-col justify-between sm:ml-6">
    <div>
        <div class="flex justify-between sm:grid sm:grid-cols-2">
            <div class="pr-6">
                <h3 class="text-md">${product.name}</h3>
                <h2 class="text-sm">${product.label}</h2>
                <p class="mt-1 text-sm text-gray-500">${product.description}</p>
                <p class="mt-1 text-sm text-gray-500">${product.model}</p>
            </div>

            <p class="text-right text-sm font-medium text-gray-900">${product.price}</p>
        </div>

        <div class="flex flex-col items-start sm:absolute sm:left-1/2 sm:top-0 sm:mt-0">
            <button
                onclick="window.location.href = 'editor.html'"
                type="button"
                class="text-sm font-medium text-primary-600 hover:text-primary-500 mt-4 sm:mt-0"
            >
                Edit product
            </button>
            <button
                type="button"
                class="text-sm font-medium text-red-600 hover:text-red-500 mt-2"
            >
                Delete product
            </button>
        </div>
    </div>

    <p class="mt-4 flex space-x-2 text-sm text-gray-700">
        ${product.count} in stock
    </p>
</div> -->
</html>
