<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./favicon.svg" />
    <link rel="apple-touch-icon" href="./apple-touch-icon.png">
    <!-- For production -->
    <link href="./min/global.min.css" rel="stylesheet">
    <script src="./min/products.min.js" type="module"></script>
    <!-- ! For Development Only ! -->
    <!-- Tailwind CSS -->
    <!-- <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
                primary: {
                  50: 'var(--color-primary-50)',
                  100: 'var(--color-primary-100)',
                  200: 'var(--color-primary-200)',
                  300: 'var(--color-primary-300)',
                  400: 'var(--color-primary-400)',
                  500: 'var(--color-primary-500)',
                  600: 'var(--color-primary-600)',
                  700: 'var(--color-primary-700)',
                  800: 'var(--color-primary-800)',
                  900: 'var(--color-primary-900)',
                  950: 'var(--color-primary-950)',
                },
              }
            }
          }
        }
    </script>
    <style type="text/tailwindcss">
        @layer base {
            :root {
                --color-primary-50: #eef2ff;
                --color-primary-100: #e0e7ff;
                --color-primary-200: #c7d2fe;
                --color-primary-300: #a5b4fc;
                --color-primary-400: #818cf8;
                --color-primary-500: #6366f1;
                --color-primary-600: #4f46e5;
                --color-primary-700: #4338ca;
                --color-primary-800: #3730a3;
                --color-primary-900: #312e81;
                --color-primary-950: #1e1b4b;
            }
        }
    </style> -->
    <!-- Scripts -->
<!--    <script src="./js/products.js" type="module"></script>-->
    <!-- ! For Development Only ! -->
    <meta name="description" content="Best covers, cases, and accessories for your incredible devices." />
    <meta name="keywords" content="Wrapster, e-commerce, modern, covers, cases, accessories" />
    <meta name="author" content="Wrapster" />
    <title>Wrapster | Products</title>
</head>
<body class="bg-gray-100">
    <header class="sticky top-0 z-20 h-16 w-full bg-gray-100 shadow-md">
        <nav class="mx-auto flex h-full w-full max-w-[1200px] items-center gap-4 px-6">
            <a
                class="flex flex-shrink-0 items-center"
                href="./index.html"
                aria-label="Home"
            >
                <svg
                    class="fill-current text-primary-500"
                    width="50px"
                    height="50px"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 1512 982"
                >
                  <path
                      fill="CurrentColor"
                      fill-rule="evenodd"
                      d="M794.465 349.928c.353-3.26.535-6.573.535-9.928 0-50.258-40.742-91-91-91s-91 40.742-91 91c0 .79.01 1.577.03 2.361-13.626 105.92-96.445 190.173-201.668 205.972-2.591-.22-5.214-.333-7.862-.333-50.534 0-91.5 40.966-91.5 91.5s40.966 91.5 91.5 91.5c3.218 0 6.397-.166 9.53-.49 205.778-10.097 370.887-174.922 381.435-380.582ZM495 341c0 49.706-40.294 90-90 90s-90-40.294-90-90 40.294-90 90-90 90 40.294 90 90Zm704 1c0 3.355-.18 6.668-.54 9.929-10.54 205.659-175.65 370.483-381.43 380.581-3.132.324-6.312.49-9.53.49-50.534 0-91.5-40.966-91.5-91.5s40.966-91.5 91.5-91.5c2.648 0 5.271.113 7.862.333 105.223-15.799 188.038-100.052 201.668-205.972-.02-.784-.03-1.572-.03-2.361 0-50.258 40.74-91 91-91s91 40.742 91 91Z"
                      clip-rule="evenodd"
                  />
                </svg>
            </a>
            <ul class="flex items-center space-x-4">
                <li><a href="./index.html" aria-label="Home">Home</a></li>
                <li><a href="./products.html" aria-label="Products">Products</a></li>
            </ul>
            <div class="ml-auto flex items-center space-x-6">
                <a class="flex h-5 w-5 items-center justify-center" href="./sign-in.html" aria-label="Sign In">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-user-round">
                        <circle cx="12" cy="8" r="5" />
                        <path d="M20 21a8 8 0 0 0-16 0" />
                    </svg>
                </a>
                <a class="flex h-5 w-5 items-center justify-center" href="./cart.html" aria-label="Cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-shopping-cart">
                        <circle cx="8" cy="21" r="1" />
                        <circle cx="19" cy="21" r="1" />
                        <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12" />
                    </svg>
                </a>
            </div>
        </nav>
    </header>
    <main class="flex w-full flex-col bg-white min-h-svh">
        <!-- Filters -->
        <section aria-labelledby="filter-heading" class="grid items-center border-b border-t border-gray-200">
            <h2 id="filter-heading" class="sr-only">Filters</h2>
            <!-- Filters button -->
            <div class="relative col-start-1 row-start-1 py-4">
                <div class="mx-auto flex max-w-[1200px] space-x-6 divide-x divide-gray-200 px-4 text-sm sm:px-6 lg:px-8">
                    <div>
                        <button type="button" class="group flex items-center font-medium text-gray-700" id="filters-button">
                            <svg class="mr-2 h-5 w-5 flex-none text-gray-400 group-hover:text-gray-500"
                                aria-hidden="true" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M2.628 1.601C5.028 1.206 7.49 1 10 1s4.973.206 7.372.601a.75.75 0 01.628.74v2.288a2.25 2.25 0 01-.659 1.59l-4.682 4.683a2.25 2.25 0 00-.659 1.59v3.037c0 .684-.31 1.33-.844 1.757l-1.937 1.55A.75.75 0 018 18.25v-5.757a2.25 2.25 0 00-.659-1.591L2.659 6.22A2.25 2.25 0 012 4.629V2.34a.75.75 0 01.628-.74z"
                                    clip-rule="evenodd" />
                            </svg>
                            <span id="filters-text">Filters</span>
                        </button>
                    </div>
                    <div class="pl-6">
                        <button type="button" class="text-gray-500" id="clear-filters">
                            Clear all
                        </button>
                    </div>
                </div>
            </div>
            <!-- Filtesr menu -->
            <div class="border-t border-gray-200 py-10" id="filters-menu" style="display: none;">
                <div class="mx-auto grid max-w-[1200px] grid-cols-2 gap-x-4 px-4 text-sm sm:px-6 md:gap-x-6 lg:px-8">
                    <form class="grid auto-rows-min grid-cols-1 gap-y-10 md:grid-cols-2 md:gap-x-6" id="filter-form">
                        <fieldset id="price-filter">
                            <legend class="block font-medium">Price</legend>
                            <div class="space-y-6 pt-6 sm:space-y-4 sm:pt-4">
                                <div class="flex items-center text-base sm:text-sm">
                                    <input id="price-0" name="price[]" value="0-20" type="radio"
                                        class="rounded border-gray-300 text-primary-600 focus:ring-primary-500" />
                                    <label for="price-0" class="ml-3 min-w-0 flex-1 text-gray-600">$0 - $20</label>
                                </div>
                                <div class="flex items-center text-base sm:text-sm">
                                    <input id="price-1" name="price[]" value="20-30" type="radio"
                                        class="rounded border-gray-300 text-primary-600 focus:ring-primary-500" />
                                    <label for="price-1" class="ml-3 min-w-0 flex-1 text-gray-600">$20 - $30</label>
                                </div>
                                <div class="flex items-center text-base sm:text-sm">
                                    <input id="price-2" name="price[]" value="30-40" type="radio"
                                        class="rounded border-gray-300 text-primary-600 focus:ring-primary-500" />
                                    <label for="price-2" class="ml-3 min-w-0 flex-1 text-gray-600">$30 - $40</label>
                                </div>
                                <div class="flex items-center text-base sm:text-sm">
                                    <input id="price-3" name="price[]" value="40-1000" type="radio"
                                        class="rounded border-gray-300 text-primary-600 focus:ring-primary-500" />
                                    <label for="price-3" class="ml-3 min-w-0 flex-1 text-gray-600">$40+</label>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset id="model-filter">
                            <legend class="block font-medium">
                                Device
                            </legend>
                            <div class="space-y-6 pt-6 sm:space-y-4 sm:pt-4">
                                <div class="flex items-center text-base sm:text-sm">
                                    <input id="color-0" name="color[]" value="iphone-15-pro-max" type="checkbox"
                                        class="h-4 w-4 flex-shrink-0 rounded border-gray-300 text-primary-600 focus:ring-primary-500" />
                                    <label for="color-0" class="ml-3 min-w-0 flex-1 text-gray-600">
                                        IPhone 15 Pro Max
                                    </label>
                                </div>
                                <div class="flex items-center text-base sm:text-sm">
                                    <input id="color-1" name="color[]" value="pixel-8-pro" type="checkbox"
                                        class="h-4 w-4 flex-shrink-0 rounded border-gray-300 text-primary-600 focus:ring-primary-500" />
                                    <label for="color-1" class="ml-3 min-w-0 flex-1 text-gray-600">
                                        Google Pixel 8 Pro
                                    </label>
                                </div>
                                <div class="flex items-center text-base sm:text-sm">
                                    <input id="color-2" name="color[]" value="ipad-pro-129-2022-gen-6" type="checkbox"
                                        class="h-4 w-4 flex-shrink-0 rounded border-gray-300 text-primary-600 focus:ring-primary-500" />
                                    <label for="color-2" class="ml-3 min-w-0 flex-1 text-gray-600">
                                        IPad Pro 12.9 2022
                                    </label>
                                </div>
                                <div class="flex items-center text-base sm:text-sm">
                                    <input id="color-3" name="color[]" value="macbook-pro-16-2023-m3" type="checkbox"
                                        class="h-4 w-4 flex-shrink-0 rounded border-gray-300 text-primary-600 focus:ring-primary-500" />
                                    <label for="color-3" class="ml-3 min-w-0 flex-1 text-gray-600">
                                        Macbook Pro 16 2023 M3
                                    </label>
                                </div>
                                <div class="flex items-center text-base sm:text-sm">
                                    <input id="color-4" name="color[]" value="galaxy-s24-ultra" type="checkbox"
                                        class="h-4 w-4 flex-shrink-0 rounded border-gray-300 text-primary-600 focus:ring-primary-500" />
                                    <label for="color-4" class="ml-3 min-w-0 flex-1 text-gray-600">
                                        Samsung Galaxy S24 Ultra
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <!-- Search -->
            <div class="border-t border-gray-200 sm:border-none sm:col-start-1 sm:row-start-1 py-4">
                <div class="mx-auto flex w-full justify-center px-4 sm:px-6 lg:px-8">
                    <div class="relative inline-block w-full sm:max-w-44 md:max-w-96">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="11" cy="11" r="8"/>
                                <path d="m21 21-4.3-4.3"/>
                            </svg>
                        </div>
                        <label for="search" class="sr-only">Search</label>
                        <input type="search" id="search" name="search"
                            class="block w-full rounded-md border-0 ps-10 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6" placeholder="Search">
                    </div>
                </div>
            </div>
            <!-- Sort -->
            <div class="col-start-1 row-start-1 py-4">
                <div class="mx-auto flex max-w-7xl justify-end px-4 sm:px-6 lg:px-8">
                    <div class="relative inline-block">
                        <div class="flex">
                            <button type="button" class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900" id="menu-button" aria-expanded="false" aria-haspopup="true">
                                Sort
                                <svg class="-mr-1 ml-1 h-5 w-5 flex-shrink-0 text-gray-400 group-hover:text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div>
                        <div class="absolute right-0 z-10 mt-2 w-40 origin-top-right rounded-md bg-white shadow-2xl ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" id="menu" style="display: none;">
                            <div class="py-1" role="none">
                                <a href="#" class="text-gray-500 block px-4 py-2 text-sm hover:bg-primary-100" role="menuitem" tabindex="-1" id="menu-item-0">Lowest Price</a>
                                <a href="#" class="text-gray-500 block px-4 py-2 text-sm hover:bg-primary-100" role="menuitem" tabindex="-1" id="menu-item-1">Highest Price</a>
                                <a href="#" class="text-gray-500 block px-4 py-2 text-sm hover:bg-primary-100" role="menuitem" tabindex="-1" id="menu-item-2">Model</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Products -->
        <section class="mx-auto w-full max-w-[1200px] px-4 py-8 sm:px-6 lg:px-8">
            <div class="md:flex md:items-center md:justify-between">
                <h2 class="text-2xl font-bold tracking-tight text-gray-900">
                    Products
                </h2>
            </div>
            <div
                id="products-container"
                class="mt-8 grid grid-cols-2 gap-x-4 gap-y-10 sm:gap-x-6 md:grid-cols-4 md:gap-y-0 lg:gap-x-8"
            >
                <!-- Products, will be generated by JS -->
                <div class="h-96 w-full flex items-center justify-center col-span-full">
                    <svg class="animate-spin h-5 w-5 mr-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M21 12a9 9 0 1 1-6.219-8.56"/>
                    </svg>
                    <span>Loading</span>
                </div>
            </div>
        </section>
    </main>
    <footer class="h-16 w-full bg-gray-100">
        <div class="mx-auto flex h-full w-full max-w-[1200px] items-center justify-center px-6">
            <p>Made with ❤️</p>
        </div>
    </footer>
</body>
<!-- For Tailwind CSS
<div class="h-96 w-full flex items-center justify-center col-span-full flex flex-col">
    <h2 class="text-lg font-medium text-gray-900">Sorry, no products found</h2>
    <p class="mt-1 text-sm text-gray-500">Please clear the filters to see all products</p>
</div>
<div class="group relative">
    <div class="bg-w h-56 w-full overflow-hidden rounded-md group-hover:opacity-75 lg:h-72 xl:h-80 p-4">
        <img
            src="${product.image}"
            alt="${product.name}"
            class="object-fit h-full w-full object-contain object-center"
        />
    </div>
    <h3 class="mt-4 text-sm text-gray-700">
        <a href="/product.html">
            <span class="absolute inset-0"></span>
            ${product.name}
        </a>
    </h3>
    <p class="mt-1 text-sm text-gray-500">${product.label}</p>
    <p class="mt-1 text-sm font-medium text-gray-900">$${product.price}</p>
</div>
bg-gray-100 font-medium text-gray-900 block px-4 py-2 text-sm hover:bg-gray-200
text-gray-500 block px-4 py-2 text-sm hover:bg-primary-100 -->
</html>
