<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#4f46e5">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
    <link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#4f46e5">
    <!-- For production -->
    <link href="./min/global.min.css" rel="stylesheet">
    <script src="./min/product.min.js" type="module"></script>
    <!-- ! For Development Only ! -->
    <!-- Tailwind CSS -->
    <!-- <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                primary: {
                  50: 'var(--color-primary-50)',
                  100: 'var(--color-primary-100)',
                  200: 'var(--color-primary-200)',
                  300: 'var(--color-primary-300)',
                  400: 'var(--color-primary-400)',
                  500: 'var(--color-primary-500)',
                  600: 'var(--color-primary-600)',
                  700: 'var(--color-primary-700)',
                  800: 'var(--color-primary-800)',
                  900: 'var(--color-primary-900)',
                  950: 'var(--color-primary-950)',
                },
              }
            }
          }
        }
    </script>
    <style type="text/tailwindcss">
        @layer base {
            :root {
                --color-primary-50: #eef2ff;
                --color-primary-100: #e0e7ff;
                --color-primary-200: #c7d2fe;
                --color-primary-300: #a5b4fc;
                --color-primary-400: #818cf8;
                --color-primary-500: #6366f1;
                --color-primary-600: #4f46e5;
                --color-primary-700: #4338ca;
                --color-primary-800: #3730a3;
                --color-primary-900: #312e81;
                --color-primary-950: #1e1b4b;
            }
        }
    </style> -->
    <!-- Scripts -->
    <!-- <script src="./js/product.js" type="module"></script> -->
    <!-- ! For Development Only ! -->
    <meta name="description" content="Best covers, cases, and accessories for your incredible devices." />
    <meta name="keywords" content="Wrapster, e-commerce, modern, covers, cases, accessories" />
    <meta name="author" content="Wrapster" />
    <title>Wrapster | Product</title>
</head>
<body class="bg-gray-100">
    <header class="sticky top-0 z-40 h-16 w-full bg-gray-100 backdrop-blur-xl bg-opacity-80 shadow-md">
        <nav class="mx-auto flex h-full w-full max-w-[1200px] items-center gap-4 px-6">
            <a
                class="flex flex-shrink-0 items-center"
                href="./index.html"
                aria-label="Home"
            >
                <svg
                    class="fill-current text-primary-500"
                    width="50px"
                    height="50px"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 1512 982"
                >
                  <path
                      fill="CurrentColor"
                      fill-rule="evenodd"
                      d="M794.465 349.928c.353-3.26.535-6.573.535-9.928 0-50.258-40.742-91-91-91s-91 40.742-91 91c0 .79.01 1.577.03 2.361-13.626 105.92-96.445 190.173-201.668 205.972-2.591-.22-5.214-.333-7.862-.333-50.534 0-91.5 40.966-91.5 91.5s40.966 91.5 91.5 91.5c3.218 0 6.397-.166 9.53-.49 205.778-10.097 370.887-174.922 381.435-380.582ZM495 341c0 49.706-40.294 90-90 90s-90-40.294-90-90 40.294-90 90-90 90 40.294 90 90Zm704 1c0 3.355-.18 6.668-.54 9.929-10.54 205.659-175.65 370.483-381.43 380.581-3.132.324-6.312.49-9.53.49-50.534 0-91.5-40.966-91.5-91.5s40.966-91.5 91.5-91.5c2.648 0 5.271.113 7.862.333 105.223-15.799 188.038-100.052 201.668-205.972-.02-.784-.03-1.572-.03-2.361 0-50.258 40.74-91 91-91s91 40.742 91 91Z"
                      clip-rule="evenodd"
                  />
                </svg>
            </a>
            <ul class="flex items-center space-x-4">
                <li><a href="./index.html" aria-label="Home">Home</a></li>
                <li><a href="./products.html" aria-label="Products">Products</a></li>
            </ul>
            <div class="ml-auto flex items-center space-x-6">
                <a class="flex h-5 w-5 items-center justify-center" href="./sign-in.html" aria-label="Sign In">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-user-round">
                        <circle cx="12" cy="8" r="5" />
                        <path d="M20 21a8 8 0 0 0-16 0" />
                    </svg>
                </a>
                <a class="flex h-5 w-5 items-center justify-center" href="./cart.html" aria-label="Cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-shopping-cart">
                        <circle cx="8" cy="21" r="1" />
                        <circle cx="19" cy="21" r="1" />
                        <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12" />
                    </svg>
                </a>
            </div>
        </nav>
    </header>
    <div class="flex min-h-svh w-full flex-col bg-white">
        <!-- Product -->
        <main class="mx-auto w-full max-w-[1200px] px-4 py-8 sm:px-6 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <!-- Product details -->
            <div class="lg:max-w-lg lg:self-end">
                <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">MAGMA</h1>
                <section aria-labelledby="information-heading" class="mt-4">
                    <h2 id="information-heading" class="sr-only">Product information</h2>
                    <div class="flex items-center">
                        <p class="text-lg text-gray-900 sm:text-xl">$31.95</p>
                        <p class="ml-4 border-l border-gray-300 pl-4 text-sm text-gray-500">
                            Burning a hole in your wallet.
                        </p>
                    </div>
                    <div class="mt-4 space-y-6">
                        <p class="text-base text-gray-500">
                            Made in collaboration with Ali Abdaal. Apparently it's "impractical" to mail lava to your house, so this is the next best thing.
                        </p>
                    </div>
                    <div class="mt-6 flex items-center">
                        <svg
                            class="h-5 w-5 flex-shrink-0 text-green-500"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            aria-hidden="true"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                clip-rule="evenodd"
                            />
                        </svg>
                        <p class="ml-2 text-sm text-gray-500">
                            In stock and ready to ship
                        </p>
                    </div>
                    <label for="quantity-0" class="sr-only">Quantity</label>
                    <select id="quantity-0" name="quantity-0" class="mt-6 max-w-full rounded-md border border-gray-300 py-1.5 text-left text-base font-medium leading-5 text-gray-700 shadow-sm focus:border-primary-500 focus:outline-none focus:ring-1 focus:ring-primary-500 sm:text-sm">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </section>
            </div>
            <!-- Product image carousel -->
            <div class="mt-10 lg:col-start-2 lg:row-span-2 lg:mt-0 lg:self-center bg-gray-50 p-4 rounded-2xl">
                <div id="carousel-example" class="relative w-full">
                    <!-- Carousel wrapper -->
                    <div class="relative h-52 sm:h-96 overflow-hidden rounded-lg">
                        <!-- Item 1 -->
                        <div id="carousel-item-1" class="hidden duration-700 ease-in-out">
                            <img
                                src="./public/QChCogWqwM3CaFhB.webp"
                                class="absolute left-1/2 top-1/2 block max-h-full -translate-x-1/2 -translate-y-1/2"
                                alt="Magma back"
                            />
                        </div>
                        <!-- Item 2 -->
                        <div id="carousel-item-2" class="hidden duration-700 ease-in-out">
                            <img
                                src="./public/jSBW2ILEEc_7a3tS.webp"
                                class="absolute left-1/2 top-1/2 block max-h-full -translate-x-1/2 -translate-y-1/2"
                                alt="Magma front"
                            />
                        </div>
                    </div>
                    <!-- Slider indicators -->
                    <div class="absolute bottom-5 left-1/2 z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse">
                        <button
                            id="carousel-indicator-1"
                            type="button"
                            class="h-3 w-3 rounded-full"
                            aria-current="true"
                            aria-label="Slide 1"
                        >
                            <span class="sr-only">Slide 1</span>
                        </button>
                        <button
                            id="carousel-indicator-2"
                            type="button"
                            class="h-3 w-3 rounded-full"
                            aria-current="false"
                            aria-label="Slide 2"
                        >
                            <span class="sr-only">Slide 2</span>
                        </button>
                    </div>
                    <!-- Slider controls -->
                    <button
                        id="data-carousel-prev"
                        type="button"
                        class="group absolute left-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-4 focus:outline-none"
                    >
                        <span class="inline-flex h-10 w-10 items-center justify-center rounded-full bg-primary-600 group-hover:bg-primary-400 group-focus-visible:ring-2 group-focus-visible:ring-offset-2 group-focus-visible:ring-primary-500">
                            <svg
                                 class="text-white"
                                 xmlns="http://www.w3.org/2000/svg"
                                 width="24" height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                            >
                                <path d="m15 18-6-6 6-6"/>
                            </svg>
                            <span class="sr-only">Previous</span>
                        </span>
                    </button>
                    <button
                            id="data-carousel-next"
                            type="button"
                            class="group absolute right-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-4 focus:outline-none"
                    >
                        <span class="inline-flex h-10 w-10 items-center justify-center rounded-full bg-primary-600 group-hover:bg-primary-400 group-focus-visible:ring-2 group-focus-visible:ring-offset-2 group-focus-visible:ring-primary-500">
                            <svg
                                class="text-white"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24"
                                viewBox="0 0 24 24"
                                fill="none" stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path d="m9 18 6-6-6-6"/>
                            </svg>
                            <span class="sr-only">Next</span>
                        </span>
                    </button>
                </div>
            </div>
            <a
                href="./cart.html"
                class="mt-10 flex h-10 w-full items-center justify-center rounded-md border border-transparent bg-primary-600 px-8 py-3 text-base font-medium text-white hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 focus:ring-offset-gray-50"
            >
                Add to cart
            </a>
        </main>
        <!-- Product overview -->
        <section class="mx-auto w-full max-w-[1200px] px-4 py-8 sm:px-6 lg:px-8">
            <div class="md:flex md:items-center md:justify-between">
                <h2 class="text-2xl font-bold tracking-tight text-gray-900">
                    Overview
                </h2>
            </div>
            <dl class="mx-auto mt-8 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:max-w-none lg:grid-cols-3 lg:gap-x-8">
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900 flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path d="M21.3 15.3a2.4 2.4 0 0 1 0 3.4l-2.6 2.6a2.4 2.4 0 0 1-3.4 0L2.7 8.7a2.41 2.41 0 0 1 0-3.4l2.6-2.6a2.41 2.41 0 0 1 3.4 0Z"/>
                            <path d="m14.5 12.5 2-2"/>
                            <path d="m11.5 9.5 2-2"/>
                            <path d="m8.5 6.5 2-2"/>
                            <path d="m17.5 15.5 2-2"/>
                        </svg>
                        THIN
                    </dt>
                    <dd class="mt-2 text-sm text-gray-500">Let's play a game. Assuming you're not bald, reach up and rip out exactly two pieces of hair. Next, twist them together. Congratulations: you now have an exact representation of how thin our skins are. Also, you're one step closer to baldness. Checkmate, Rogaine.</dd>
                </div>
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900 flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <circle cx="19" cy="19" r="2"/>
                            <circle cx="5" cy="5" r="2"/>
                            <path d="M5 7v12h12"/>
                            <path d="m5 19 6-6"/>
                        </svg>
                        PRECISE
                    </dt>
                    <dd class="mt-2 text-sm text-gray-500">Every dbrand skin is lovingly hand-crafted by one of the industrial-grade cutting machines that you see here. It costs more than your student loan and cuts within 1/1000th of a millimeter in precision. Remember: it's only overkill if you can't afford it.</dd>
                </div>
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900 flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path d="m15 5 4 4"/>
                            <path d="M13 7 8.7 2.7a2.41 2.41 0 0 0-3.4 0L2.7 5.3a2.41 2.41 0 0 0 0 3.4L7 13"/>
                            <path d="m8 6 2-2"/>
                            <path d="m2 22 5.5-1.5L21.17 6.83a2.82 2.82 0 0 0-4-4L3.5 16.5Z"/>
                            <path d="m18 16 2-2"/>
                            <path d="m17 11 4.3 4.3c.94.94.94 2.46 0 3.4l-2.6 2.6c-.94.94-2.46.94-3.4 0L11 17"/>
                        </svg>
                        FACTORY FIT
                    </dt>
                    <dd class="mt-2 text-sm text-gray-500">The result from those ludicrously expensive cutting machines we just told you about? You're looking at it. If we told you our skins fit like a glove, we'd be giving gloves too much credit.</dd>
                </div>
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900 flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <circle cx="13.5" cy="6.5" r=".5" fill="currentColor"/>
                            <circle cx="17.5" cy="10.5" r=".5" fill="currentColor"/>
                            <circle cx="8.5" cy="7.5" r=".5" fill="currentColor"/>
                            <circle cx="6.5" cy="12.5" r=".5" fill="currentColor"/>
                            <path d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10c.926 0 1.648-.746 1.648-1.688 0-.437-.18-.835-.437-1.125-.29-.289-.438-.652-.438-1.125a1.64 1.64 0 0 1 1.668-1.668h1.996c3.051 0 5.555-2.503 5.555-5.554C21.965 6.012 17.461 2 12 2z"/>
                        </svg>
                        TEXTURED
                    </dt>
                    <dd class="mt-2 text-sm text-gray-500">Nothing in your life feels good. You constantly drop the ball. Your relentless anxiety produces enough hand sweat to make Prince Andrew lie on national television. Our premium, textured skins won't solve any of that, but they'll make your hardware feel immaculate.</dd>
                </div>
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900 flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"/>
                            <path d="m9 12 2 2 4-4"/>
                        </svg>
                        SCRATCH PROTECTION
                    </dt>
                    <dd class="mt-2 text-sm text-gray-500">In the future, when keying cars is impossible because nobody's allowed to drive anymore, roving gangs of vandals will break into your home and scratch your electronics. Prepare yourself for this doomsday scenario with our skins.</dd>
                </div>
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-gray-900 flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <circle cx="6" cy="15" r="4"/>
                            <circle cx="18" cy="15" r="4"/>
                            <path d="M14 15a2 2 0 0 0-2-2 2 2 0 0 0-2 2"/>
                            <path d="M2.5 13 5 7c.7-1.3 1.4-2 3-2"/>
                            <path d="M21.5 13 19 7c-.7-1.3-1.5-2-3-2"/>
                        </svg>
                        NO RESIDUE
                    </dt>
                    <dd class="mt-2 text-sm text-gray-500">If there's one thing that a life of crime has taught us, it's that you never want to leave evidence. This principle carries over to our skins, where removal is guaranteed to leave behind zero adhesive residue. dbrand: it's like getting away with murder.</dd>
                </div>
            </dl>
        </section>
        <!-- More products -->
        <section class="mt-4 mx-auto w-full max-w-[1200px] px-4 py-8 sm:px-6 lg:px-8">
            <div class="md:flex md:items-center md:justify-between">
                <h2 class="text-2xl font-bold tracking-tight text-gray-900">
                    More products
                </h2>
                <a
                    href="./products.html"
                    class="hidden text-sm font-medium text-primary-600 hover:text-primary-500 md:block"
                >
                    Other products
                    <span aria-hidden="true"> &rarr;</span>
                </a>
            </div>
            <div
                id="more-products"
                class="mt-8 grid grid-cols-1 sm:grid-cols-2 gap-x-4 gap-y-10 sm:gap-x-6 md:grid-cols-4 md:gap-y-0 lg:gap-x-8"
            >
                <!-- Products -->
                <div class="col-span-full bg-gray-50 w-full h-[21.5rem] rounded-lg flex items-center justify-center">
                    <svg class="animate-spin h-5 w-5 mr-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M21 12a9 9 0 1 1-6.219-8.56"/>
                    </svg>
                    <span>Loading</span>
                </div>
            </div>
            <div class="mt-8 text-sm md:hidden">
                <a
                    href="./products.html"
                    class="font-medium text-primary-600 hover:text-primary-500"
                >
                    Other products
                    <span aria-hidden="true"> &rarr;</span>
                </a>
            </div>
        </section>
    </div>
    <footer class="h-16 w-full bg-gray-100">
        <div class="mx-auto flex h-full w-full max-w-[1200px] items-center justify-between px-6">
            <p class="text-sm">Made with ❤️ by <a href="https://github.com/TechOctopus">Heorhi Davydau</a> and <a href="https://github.com/VladGusiev">Vladyslav Gusiev</a></p>
            <a href="https://github.com/TechOctopus/wrapster">
                <span class="sr-only">GitHub</span>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"/>
                    <path d="M9 18c-4.51 2-5-2-7-2"/>
                </svg>
            </a>
        </div>
    </footer>
</body>
</html>
